@tailwind base;
@tailwind components;
@tailwind utilities;


.chips-type::before {
    content: '';
    position: absolute;
    left: 0;
    width: 4px;
    height: 100%;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    background-color: #db0101;
}

.author span:nth-child(2) {
    position: relative;
    right: 10px;
}